.container {
  /* display: flex; */
  flex: auto;
  justify-content: center;

  height: 100vh; /*ページの高さは、ウィンドウの高さと同じ*/
}
.upper {
  display: flex;
  justify-content: space-between;
}

/* .lists {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
} */

.cleanedNames,
.removedNames {
  margin: 1em 1em;
}

/* .cleanedNames {
  font-size: 1.2em;
  font-size: 20px;

  margin-bottom: 20px;
} */

/* .removed-names {
  font-size: 1.2em;
  font-size: 20px;
} */

.display {
  /*nameDisplayが現れる前の下地*/
  position: relative;
}

.nameDisplay {
  align-items: center;

  white-space: nowrap;
  margin-top: auto;
  text-align: center;
  z-index: 1;
  /* animation: fadeIn 2s linear; */

  /* margin-bottom: 2em;  下に謎の空白を作る */
}

.startNotifier {
  animation: flash 1.5s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  z-index: 2;
  color: rgb(42, 95, 141);
  background-color: ivory;
}

.stopNotifier {
  animation: flash 1.5s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  white-space: nowrap;
  z-index: 2;
  color: rgb(42, 95, 141);
  background-color: ivory;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }
}

@keyframes fadeIn {
  from {
    color: transparent;
  }
  to {
    color: black;
  }
}
