.container {
  /* display: flex; */
  flex: auto;
  justify-content: center;

  height: 100vh; /*ページの高さは、ウィンドウの高さと同じ*/
}
.upper {
  display: flex;
  justify-content: space-between;
}

/* .lists {
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
} */

/* .cleaned-names,
.removed-names {
  margin: 0 1em;
} */

/* .cleaned-names {
  font-size: 1.2em;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
} */

/* .removed-names {
  font-size: 1.2em;
  font-size: 20px;
} */

.nameDisplay {
  align-items: center;
  transition: all 1s ease-out;
  white-space: nowrap;
  margin-top: auto;
}

.nameDisplay {
  font-size: 5em;
  text-align: center;
  margin-bottom: 2em;
}

.name.show {
  opacity: 1;
}
